:root {
	--local-white: #EEEBDD;
	--local-black: #1B1717;
	--local-black-dark: #141111;
	--local-red: #810000;
	--local-red-dark: #630000;
}

@media (min-width: 1024px){
	.card h3{
		font-size: 1.35rem!important;
	}
	.card p{
		font-size: .95rem!important;
	}
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body{
	background-color: var(--local-black)!important;
	color: var(--local-white)!important;
}

/*navbar*/
.bg-local-dark{
	background-color: var(--local-black-dark);
	color: var(--local-white);
}	

/*titles*/
.title-type{
	font-size: 2.3rem;
	font-weight: bold;
	color: var(--local-white);
	margin-left: 1.5vh;
}
.tag {
	background-color: var(--local-black-dark);
	border-radius: 20px;
	border-width: 0ch;
	margin-left: 20px;
	color: var(--local-white);
	padding: 0px 20px;
}

.tag-movie {
	background-color: var(--local-red-dark)!important;
	margin-left: 10px;
}

.close-button{
	flex-direction: row;
	align-items: flex-end;
	font-size: 1.4rem!important;
	background-color: var(--local-black-dark);
	border-width: 0ch;
	margin-left: 20px;
	color: var(--local-white);
	padding: 0px 20px;
	height: 20%
}

.local-flex{
	display: flex;
	justify-content: end;
}

/*¨*/
#card {
    margin-inline: 20px;
    overflow: hidden;
    display: flex;
    width: 15vw;
    background-color: var(--local-black-dark);
}

.card-title{
	display: none;
	word-wrap: break-word;
	overflow-wrap: break-word;
    white-space: normal;
	text-align: justify; 
	display: none;
	position: absolute;
	top: 3vh;
	left: 1.4vh;
	right: 1.4vh;
}

.card-description{
	font-size: 1rem!important;
	margin-top: 1.3vh;
	margin-left: .3vh;
	display: none;
	word-wrap: break-word;
	overflow-wrap: break-word;
    white-space: normal;
	text-align: justify; 
	overflow: auto;
	max-height: 30vh;
	padding-right: 4px;
}

.card-age{
	display: none;
	position: absolute;
	bottom: 1vh;
	right: 1.4vh;
}

#card:hover img{
	opacity: 0.14;
	transition: .3s;
}

#card:hover .card-description {
	display: block;
}

#card:hover .card-title {
	display: block;
}

#card:hover .card-age {
	display: block;
}

/*Footer*/
.footer{
	background-color: var(--local-black-dark);
	width: 100%;
	bottom: 0;
}


.local-logo {
	margin-left: 2vh;
	
}

.info-movie{
	flex-direction: column;
	margin-right: auto;
    margin-left: auto;
}

.image-movie{
	margin-right: 5vw;
	object-fit: cover;
}

.movie-elenco{
	display: inline;
}


.card-description::-webkit-scrollbar {
	opacity: 0.2;
	width: 5px;
	height: 5px;
  }
  .card-description::-webkit-scrollbar-thumb {
	background-color: #11171a;
	border-radius: 10px;
  }

  .card-description::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  .card-descriptioncard-description::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
  }
  .card-description::-webkit-scrollbar-thumb {
	background-color: #11171a;
	border-radius: 10px;
  }
